.libs/
Makefile
Makefile.in
NEWS
aclocal.m4
autom4te.cache/
benchmarks/.deps/
benchmarks/Makefile
benchmarks/Makefile.in
benchmarks/bench_gauss
compile
config.guess
config.status
config.sub
configure
depcomp
dgs/.deps/
dgs/.dirstamp
dgs/config.h
*.lo
dgs/stamp-h1
install-sh
libdgs.la
libtool
ltmain.sh
m4/
missing
test-driver
test_gauss_z
test_gauss_z.trs
tests/.deps/
tests/.dirstamp

