Makefile.in
aclocal.m4
benchmarks/Makefile.in
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
m4/
missing
test-driver
Makefile
benchmarks/.deps/
benchmarks/Makefile
config.status
dgs/.deps/
dgs/config.h
dgs/stamp-h1
libtool
tests/.deps/
.libs/
autom4te.cache/
benchmarks/bench_gauss
dgs/.dirstamp
dgs/dgs_bern.lo
dgs/dgs_gauss_dp.lo
dgs/dgs_gauss_mp.lo
libdgs.la
/test_gauss_z
/test_gauss_z.trs
/tests/.dirstamp
